.wrapper {
  display: flex;
  align-items: center;
  gap: 65px;
}

.link {
  color: #fff;
  font-size: 20px;
  position: relative;
  cursor: pointer;

  &::after {
    position: absolute;
    bottom: -2px;
    width: 0;
    content: '';
    height: 1px;
    background: #fff;
    left: 0;
    transition: .5s ease-in-out;
  }

  &:hover::after {
    width: 100%;
  }

  &.active::after {
    width: 100%;
  }

}

.tel {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

@media (max-width: 975px) {
  .wrapper {
    top: 0;
    left: 100vw;
    z-index: 100;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #19297C;
    flex-direction: column;
    justify-content: center;
    transition: .3s;

    &.open {
      left: 0;
    }

    .link {
      font-size: 30px;
    }

    .tel {
      font-size: 30px;
    }
  }
}