.wrapper {
  display: flex;
  align-items: center;
  gap: 65px;
}

.link {
  color: #fff;
  font-size: 20px;
  position: relative;
  cursor: pointer;
  &::after {
    position: absolute;
    bottom: -2px;
    width: 0;
    content: '';
    height: 1px;
    background: #fff;
    left: 0;
    transition: .5s ease-in-out;
  }

  &:hover::after {
    width: 100%;
  }

  &.active::after {
    width: 100%;
  }

}