.btn {
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (max-width: 668px) {
  .btn {
    font-size: 14px;
  }

  .icon{
    width: 35px;
  }
}

@media (max-width: 547px) {
  .btn{
    font-size: 14px;
  }
}