.wrapper {
  padding: 50px 0;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

.img {
  width: 100%;
}

.title {
  margin-bottom: 60px;
}

.items {
  padding: 15px 0;
}

.itemsContainer {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.itemsTitle {
  color: #fff;

  font-size: 32px;
  font-weight: 400;
  margin-bottom: 40px;
}

.itemImg {
  width: 570px;
  border-radius: 30px;
}

.adress {
  margin: 25px 0 12px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

.type {
  display: block;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 12px;
}

.btn {
  color: #19297C;
  border-radius: 10px;
  background: #fff;
  padding: 15px 20px;
  margin: 35px auto;
}

.inner {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 50px;
}

@media (max-width: 750px) {
  .wrapper {
    padding: 25px 0;
  }
}

@media (max-width: 668px) {
  .title {
    margin-bottom: 20px;
  }

  .inner {
    margin-top: 20px;
    gap: 0;
  }

  .itemsTitle {
    font-size: 22px;
  }

  .adress{
    font-size: 16px;
    font-weight: 400;
  }

  .btn{
    font-size: 16px;
    margin: 10px auto;
  }
}

@media (max-width: 547px) {
  .adress{
    margin: 10px 0 10px;
  }
  .adress,.type{
    font-size: 12px;
  }
  .btn{
    font-size: 14px;
  }
  .itemImg{
    border-radius: 20px;
  }
}

@media (max-width: 544px) {
  .wrapper {
    padding: 25px 0;
  }
}