.svgWrapper {
  svg path {
    fill: rgba(190, 106, 158, .5);
    cursor: pointer;
    &:hover{
      fill: rgba(190, 106, 158, .9);
    }
  }
}
.address{
  font-size: 32px;
  position: relative;
  width: 100%;
  line-height: 40px;

  &::after{
    position: absolute;
    content: '';
    width: 100%;
    background: #787878;
    height: 1px;
    left: 0;
    bottom: 0;
  }
}

.title{
  margin: 50px 0;
  position: relative;
  display: block;
  width: 100%;

  &.sell{
    margin-top: 75px;
    &::after{
      position: absolute;
      content: '';
      width: 100%;
      background: #787878;
      height: 1px;
      left: 0;
      top: -26px;
    }
  }
}

.link{
  background: #FAEEE6;
  color: #453628;
  font-weight: 400;
  font-size: 20px;
  border-radius: 10px;
  width: 320px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btnBlock{
  display: flex;
  gap: 40px;
  margin-top: 50px;
}

.btn{
  color: #fff;
  border-radius: 10px;
  font-size: 20px;
  background: transparent;
  border: 2px solid #FAEEE6;
  width: 320px;
  height: 70px;
  cursor: pointer;
}

.roomCountColumn{
  font-size: 15px;
  border-radius: 15px;
  border: 2px solid #fff;
  width: 39px;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tableEntrance{
  width: 200px;
}

.tableFloor{
  width: 150px;
}

.tableRooms{
  width: 80px;
}

.tableArea{
  width: 110px;
}

.tableFlatnum{
  width: 60px;
}

.tablePrice{
  width: 200px;
}

@media (max-width: 1030px){
  .tableEntrance{
    font-size: 18px;
    width: 150px;
  }
  .tableFloor{
    font-size: 18px;
    width: 120px;
  }
  .roomCountColumn{
    font-size: 12px;
    width: 37px;
    height: 25px;
  }
  .tableRooms{
    width: 60px;
  }
  .tableFlatnum{
    font-size: 18px;
    width: 45px;
  }
  .tableArea{
    font-size: 18px;
    width: 80px;
  }
  .tablePrice{
    font-size: 18px;
    width: 140px;
  }
  .tablePricem2{
    font-size: 18px;
  }
}

@media (max-width: 800px) {
  .address{
    font-size: 18px;
    padding: 10px 0 !important;
  }
  .btn,.link{
    font-size: 16px;
    width: 250px;
  }

  .tableEntrance{
    font-size: 14px;
    width: 110px;
  }
  .tableFloor{
    font-size: 14px;
    width: 90px;
  }
  .roomCountColumn{
    font-size: 10px;
    width: 33px;
    height: 22px;
  }
  .tableRooms{
    width: 50px;
  }
  .tableFlatnum{
    font-size: 14px;
    width: 40px;
  }
  .tableArea{
    font-size: 14px;
    width: 60px;
  }
  .tablePrice{
    font-size: 14px;
    width: 110px;
  }
  .tablePricem2{
    font-size: 14px;
  }
}

@media (max-width: 566px) {
  .address{
    font-size: 14px;
    padding: 10px 0 !important;
  }
  .btn,.link{
    font-size: 12px;
    width: 200px;
    height: 50px;
    border-radius: 6px;
  }
  .btnBlock{
    flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 420px) {
  .address{
    line-height: 20px;
  }
}