.wrapper{
  padding: 50px 0;
}

.inner{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.title{
  margin-bottom: 45px;
}

.item{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.content{
  display: flex;
  align-items: flex-end;
}

.content1, .content2{
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.subtitle{
  color: #fff;

  font-size: 32px;
  font-weight: 400;
  max-width: 370px;

  &_nowrap{
    white-space: nowrap;
  }
}


.text{
  color: #fff;

  font-size: 16px;
  font-weight: 400;
}

.img{
  border-radius: 30px;
}

@media (max-width: 950px) {
  .imgContainer{
    display: none;
  }

  .inner{
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .subtitle{
    font-size: 23px;
  }
  .item{
    gap: 7px;
  }
}

@media (max-width: 450px) {
  .subtitle{
    font-size: 20px;
  }
  .content{
    gap: 10px;
  }
}