.wrapper{
  padding: 50px 0;
}

.inner{
  display: flex;
  justify-content: space-between;
}

.title{
  margin-bottom: 45px;
}

.item{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.content{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.subtitle{
  color: #110A06;

  font-size: 32px;
  font-weight: 400;
}

.text{
  color: #110A06;

  font-size: 16px;
  font-weight: 400;
}

.img{
  border-radius: 30px;
}