.wrapper{
  min-height: calc(100vh - 109px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner{
  display: grid;
  grid-template-rows: 362px 224px;
  grid-template-columns: 360px 470px 277px;
  gap: 23px;
  position: relative;
  justify-content: center;
}

.img1{
  grid-column: 1 / 3;
}

.img3{
  grid-column: 3 / -1;
  grid-row: 1 / -1;
}

.card{
  grid-column: 2 / 3;
  background: #FAEEE6;
  border-radius: 30px;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title{
  color: #fff;
  font-size: 42px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 34px;
  margin: 20px 0;
}

.title2{
  color: #fff;
  font-size: 42px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.subtitle{
  color: #fff;
  font-size: 55px;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  margin: 0;
}

.titleBlock{
  position: absolute;
  max-width: 625px;
}

.cardTitle{
  color: #110A06;
  font-size: 16px;
  font-weight: 600;
}

.cardText{
  color: #110A06;
  font-size: 16px;
  font-weight: 500;
  max-width: 350px;
}

.btn{
  display: block;
  border-radius: 10px;
  background: #453628;
  color: #fff;
  padding: 10px 20px;
  margin-left: auto;
  border: none;
  cursor: pointer;
}